<body>
	<%= form_for(@activity) do |f| %>  
  <div> 
    Where to stay: <%= f.text_field :stay %><br> 
    Where to eat: <%= f.text_field :eat %><br>
    Where to visit: <%= f.text_field :visit %><br>
	Where to drink: <%= f.text_field :drink %><br>
  </div> 
  <div> 
    <%= f.submit "Submit" %> 
  </div> 
<% end %>
</body>