<head>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">
</head>
<body>
  <div class="pure-g">
    <div class="pure-u-1" id="desthead">
      <h1 class="pure-u-1">Destinations</h1>
    </div>
    <div class="pure-u-1">
      <% @destinations.each do |t| %>
        <div class="pure-u-10-24" id="location">
          <%= image_tag t.img_url %>
          <h2><%= t.city %></h2>
          <h4><%= t.region %></h2>
          <h4><%= t.country %></h2>
      <%= link_to "View", activity_path(t) %>        
      </div>
        <% end %>
      </div>
    </div>
  </div>
</body>